<?xml version="1.0"?>
<model>
    <name>Vicon Stick</name>
    <version>1.0</version>
    <sdf version='1.4'>stick.sdf</sdf>
    <author>
        <name>Karl D. Hansen</name>
        <email>kdh@es.aau.dk</email>
    </author>
    <description>
        A simple stick to move around with the Vicon system.
    </description>
</model>
